.icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background: no-repeat center;
    background-size: cover;
    margin-left: 15%;
}

.text-shadow {
    text-shadow: 0px 10px 12px rgba(0, 0, 0, 0.5);
}

#forecast {
    visibility: hidden;
}

#search {
    margin-bottom: 10%;
}

button {
    margin-bottom: 2%;
}