.icon {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background: no-repeat center;
    background-size: cover;
    margin-left: 15%;
}

#forecast {
    visibility: hidden;
}

#search {
    margin-bottom: 10%;
}

button {
    margin-bottom: 2%;
}